
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
float: left;
width: 15.00%;
padding: 5px;
}

/* Clear floats after image containers */
.row::after {
content: "";
clear: both;
display: table;
}

div.center{
  text-align: center;
}


/* START Background pictures*/
.Background2{
     background-size: cover; 
     background-position: center center; 
     background-repeat: "no-repeat";
     background-attachment: fixed;
}

.Background2:before {    
  content: "";
  background: url(./Images/Background1.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.50;
}

.Background{
  background-size: cover; 
  background-position: center center; 
  background-repeat: "no-repeat";
  background-attachment: fixed;
}

.Background:before {    
content: "";
background: url(./Images/rit-campus.jpg);
background-size: cover;
position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
opacity: 0.60;
}

/* END Background Pictures*/

h1{
position:relative;
color:orange ;  
font-size: 100px;
line-height: .01;
text-align: center;
}

h2{
  position: relative;
  color:black;
  text-align: center;
}

iframe, a, p{
  position: relative;
}





.container .squares:nth-child(-n+4){
  
  float:inline-start;
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 25%;
  cursor: pointer;
  transition: transform .5s ease-in-out;
  position: relative;
  
  }

  .squares:nth-child(-n+4) p{
    color:cyan;
    font-family: "helvetica Neue", Arial, Helvetica, sans-serif ;
    font-size: 1.5em;
    font-weight: 900;
    text-align:center;
    vertical-align: middle;
    margin: 0%;
    text-shadow: 2px 1px 4px rgba(0,0,0,0.8);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    .squares:nth-child(1){
      /*background-image: url(./Images/paw-icon.png);*/
      background-size: cover;
  }
  
  .squares:nth-child(2){
       
      /*background-image: url(./Images/splat-icon.png);*/ 
      background-size: cover;
      
  }
  
  .squares:nth-child(3){
    
      /*background-image: url(./Images/tiger-icon.png);*/
      background-size: cover;
  }
  
  /*HOVER EFFECTS*/

.container .squares:nth-child(-n+4):hover{
  background-image: url(./Images/Black_Splat.jpg);
  transform: scale(1.5);
  animation-name: race;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(2.5,.2,.3,2);
}
/*
.squares:nth-child(1):hover{
  
}


.squares:nth-child(2):hover{
  
}


.squares:nth-child(3):hover{

}

.squares:nth-child(4):hover{

}
*/

