
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
float: left;
width: 15.00%;
padding: 5px;
}

/* Clear floats after image containers */
.row::after {
content: "";
clear: both;
display: table;
}

div.center{
  text-align: center;
}

.Background2{
     background-size: cover; 
     background-position: center center; 
     background-repeat: "no-repeat";
     background-attachment: fixed;
}

.Background2:before {    
  content: "";
  background: url(./Images/Background1.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.50;
}

.Background{
  background-size: cover; 
  background-position: center center; 
  background-repeat: "no-repeat";
  background-attachment: fixed;
}

.Background:before {    
content: "";
background: url(./Images/rit-campus.jpg);
background-size: cover;
position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
opacity: 0.60;
}



h1{
position:relative;
color:orange ;  
font-size: 100px;
line-height: .01;
text-align: center;
}

h2{
  position: relative;
  color:black;
  text-align: center;
}

iframe, a{
  position: relative;
}


.container{
border: oldlace;
border-radius: 25%;
float:none;
}

.container:nth-child(-n+3){ 
  background-repeat: no-repeat;
  margin: 7px;
  width: 50px;
  height: 50px;

}

.container:nth-child(1){
  background-image: url(./Images/splat-icon.png);
  background-size: cover; 
}

.container:nth-child(2){
  background-image: url(./Images/paw-icon.png);
  background-size: cover; 
}

.container:nth-child(3){
  background-image: url(./Images/tiger-icon.png);
  background-size: cover;
}