
h2 {

    text-align: center;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
float: left;
width: 15.00%;
padding: 5px;
}

/* Clear floats after image containers */
.row::after {
content: "";
clear: both;
display: table;
}

div.center{
  text-align: center;
}


.Background2{

    background-image: url(./Images/Background1.jpg); 
}

.Background {
position: relative; 
height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.Background::before {    
  content: "";
  background-image: url(../Images/institute_hall.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

h1{

position: relative;
color: darkorange;  
font-size: 14;
line-height: 0.9;
text-align: center;


}