

  /*
  .Container{
  
    display: flex;}
    */
  
  /* Dsiplays icons on top left of page*/

  #instagram:link {
    color: rgb(251,57,88);
    
  }
  #instagram:visited {
    color: rgb(251,57,88);
    background-color: transparent;
    text-decoration: none;
  }
  #instagram:hover {
    color: lightcoral;
    
  }
  #instagram:active {
    color: rgb(251,57,88);
    background-color: transparent;
    text-decoration: underline;
  }

  #Facebook:link{

    color:  blue;
    background-color: transparent;
    text-decoration: none;
  }
  #Facebook:visited {
    color:  blue;;
    background-color: transparent;
    text-decoration: none;
  }
  #Facebook:hover {
    color: navy
    
  }
  #Facebook:active {
    color:  blue;
    background-color: transparent;
    text-decoration: underline;
  }


  #orda:link {
    color: rgb(251,57,88);
    
  }
  #orda:visited {
    color: rgb(251,57,88);
    background-color: transparent;
    text-decoration: none;
  }
  #orda:hover {
    color: lightcoral;
    
  }
  #orda:active {
    color: rgb(251,57,88);
    background-color: transparent;
    text-decoration: underline;
  }



/* Dsiplays icons on top left of page*/


  a{  
      margin-right: 10px;
  }

  .Background{
    background-size: cover; 
    background-position: center center; 
    background-repeat: "no-repeat";
    background-attachment: fixed;
  }
  
  .Background:before {    
  content: "";
  background: url(./Images/TeamLogo.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.60;
  }


/*Start of Photo Container*/

  p {

    font-weight: 300;
    line-height: 30px; /*It's commonly used to set the distance between lines of text. If you have one value you want to use, then use this short-head */
    padding-bottom: 15px;
    
    }
    
.photo {
    
        position: relative;
        line-height: 0; /*It's commonly used to set the distance between lines of text. If you have one value you want to use, then use this short-head */
        margin-bottom: 2em;
        overflow: hidden;
        border-radius: 50px;
        /*padding: 1px; /*Remove these to remove orange border*/
        /*border: 1px solid #021a40;/*Remove these to remove orange border*/
        
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    }
    
.photo-container {
    
        text-align: center;
        position:relative;        
        width: 150px;
        height: 100px;
        margin: 12px auto;
        display: inline-table;
    }

    .container1{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -10%);
        
        
    }
    
.flexwrap{
    display:flex;
    width: 100%;
}    
.photo-container img {
    
        max-width: 100%; /*this works in relation to above. It states the image will can never get bigger than the width and height stated above */
        width: 150px;
        height: 100px;
        
    }
    
.photo-overlay{
    
        color: #fff;
        position: absolute; /*Works in relation to top,bottom,left,right below. Those definitions determines the absolute postion*/
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding-left: 20px; /*padding is being used to so the postion above isnt judged*/
        padding-right: 20px;
        justify-content: center; /*this centers the text inside the phot0*/
        align-items: center; /* aligns all items within the container*/
        background: rgba(0, 0, 0, 0.5); /*Creates the black over the photo when hovering to see text */
    }
    
.white-head{
    
        color:cyan;
        margin-top: 30%;
        
        
        line-height: 30px; /**/
        padding-bottom: 20px;
        
  }
  .white-head1{
    color: cyan;
    line-height: 30px; /**/
    padding-bottom: 20px;
    margin-top: 15%;
  }
  

  .photo-overlay{
    
    opacity: 1; /*This hides(by being set to 0) the overlay(in this case the paragraph and header) from showing in the beginning until the user hovers*/
    transition: opacity .1s; /*You need to define the property (opacity) then duration. VSCode does not list out properties*/ 
     /* Helps with rounding of the black image affect which then helps show the words (is not the reason the words show however)*/
    cursor: pointer;
}

.photo-overlay p {  /*Because this is within photo overlay, the ocapity transition will affect whether this is seen untill the user hovers*/
    width: 100%;
    height: 100%;
    color: #fff;
}

.photo-overlay:hover {
    opacity: 0; /*When the user hovers, the photo overlay will show(cause its set to 1) */
}

.photo img{

    transition: transform .5s;
    transform-origin: 50% 50%;
}

.photo:hover img{

    transform: scale(1.1);

}
    /*Photo Overlay Transitions*/
    

/*End of Photo Container*/


.background{

 background-image: url(./Images/TeamLogo.jpg);
 width: auto;
 height: 700px;
 background-repeat:round;
 color: white;
 font-weight: 900;
 text-align: center;
 margin-bottom: 30px;
 border: 2px solid black;
 border-radius: 3px;
}




