

.FOOTER{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    
    background-repeat: repeat;


}

#UL{

    position: relative;
    display: flex;
    transform-style: preserve-3d;
    ;
}

#UL #LI {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 10px;
    
}

#UL #LI #SPAN{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    
    color: black;
    font-size: 30px !important;
    transition: 0.1s;
    border-radius: 7px;
}

#UL #LI:hover #SPAN{

    z-index: 1000;
    transition: 0.5s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.5);
}
#UL #LI:hover #SPAN:nth-child(5){
    transform: translate(40px,-40px);
    opacity: 1;
}
#UL #LI:hover #SPAN:nth-child(4){
    transform: translate(30px,-30px);
    opacity: 0.8;
}
#UL #LI:hover #SPAN:nth-child(3){
    transform: translate(20px,-20px);
    opacity: 0.6;
}
#UL #LI:hover #SPAN:nth-child(2){
    transform: translate(10px,-10px);
    opacity: 0.4;
}
#UL #LI:hover #SPAN:nth-child(1){
    transform: translate(0px,0px);
    opacity: 0.2;
}

#UL #LI:nth-child(1):hover #SPAN{
    background: #3b5999;
}
#UL #LI:nth-child(2):hover #SPAN{
    background: #e4405f;
}
#UL #LI:nth-child(3):hover #SPAN{
    background:  #55acee;
}